# requirements.txt

python-doctr>=0.9.0
mss>=9.0.1
Pillow>=10.4.0
opencv-python>=4.10.0.84
numpy>=1.26.4
tqdm>=4.66.4
pip install ultralytics 

# need to run this in terminal as well to get weights:
# huggingface-cli download microsoft/OmniParser-v2.0 icon_detect/train_args.yaml icon_detect/model.pt icon_detect/model.yaml --local-dir weights
